<div class="wrapper">

        <div class="ufo-text">

          <%= link_to root_path do %>
            <img src="/images/logo.png" style="width:250px;" class="logo" alt="">
          <% end %>

          <% unless user_signed_in? %>
            <h1>made in Bordeaux with</h1>
            <span class="lines">RUBY ON RAILS</span>
          <% end %>

          <% if user_signed_in? %>
            <h1>Welcome, <%= current_user.user_name %></h1>
            <span class="lines">
            <%= link_to 'Log Out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %>
            </span>
          <% end %>

          <div class="menu">
            <nav>
              <ul>
                <li><%= link_to root_path do %><i class="fas fa-home"></i> Home<% end %></li>
                <li><%= link_to last_path do %><i class="far fa-clock"></i> Last<% end %></li>
                <li><%= link_to map_path do %><i class="fas fa-map-marker-alt"></i> Map<% end %></li>
              </ul>
            </nav>
          </div>

        </div>

        <img src="/images/ufo.png" class="ufo2" alt="">

</div>

<div class="new">

        <% if user_signed_in? %>
        <% if @spot.user.id == current_user.id %>
           <%= simple_form_for @spot do |f| %>
           <%= f.input :title, :placeholder => 'ex : UFO in my garden OMG !', :class => 'input' %><br><br>
           <%= f.input :date %><br><br>
           <%= f.input :adress, :placeholder => 'ex : Place de la bourse bordeaux france' %><br><br>
           <%= f.submit "Update", :class => 'button-new' %>
           <%= link_to spot_path(@spot), method: :delete, data: { confirm: "Are you sure you want to delete this spot?" } do %>
           <i class="fas fa-trash-alt" style="margin-left:20px;font-size:20px;"></i>
           <% end %>
           <% end %>
        <% end %>
        <% end %>

</div>
